@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 768px) {
}

/* UI ELEMENTS */

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's above other content */
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    z-index: 1001; /* Above the overlay */
}

.totals .total-lines .total-line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.totals .total {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

/* Custom Checkbox Styles */
.checkbox {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 16px;
  height: 16px;
  border: 2px solid #d1d5db;
  border-radius: 0.25rem; /* 4px */
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

.checkbox:checked {
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M13.78 4.222a.75.75 0 010 1.06L7.53 11.53a.75.75 0 01-1.06 0L3.22 8.28a.75.75 0 111.06-1.06L7 9.94l5.72-5.72a.75.75 0 011.06 0z' clip-rule='evenodd'/%3E%3C/svg%3E");
  color: #2563eb; /* Tailwind blue-600 */
}

.checkbox:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.5); /* Tailwind ring */
}

/* images/portraits */
.portraitContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 200px; /* Maximum size */
  max-width: 200px; /* Maximum size */
  overflow: hidden;
  padding: 15px;
}

.circularPortraitFrame {
  border: 10px solid white; /* Change the color as needed */
  height: 100%; /* Fills the height of the container */
  width: 100%; /* Fills the width of the container */
  border-radius: 50%; /* Creates a circular shape */
  object-fit: cover; /* Ensures the image within the frame does not get distorted */
  box-shadow: inset 0px -8px 15px -10px rgba(0, 0, 0, 0.2);
  box-shadow: 12px 8px 6px rgba(0,0,0,0.1);
}

/* CARDS */
.simpleCard {
  display: flex;
  align-items: center;
  align-content: center;
  padding: 10px 30px;
  margin: 10px 0px 10px 0px;
  background-color: #fffffc; /* Equivalent to RGB(255, 252, 233) */
  border-radius: 20px;
  box-shadow: 12px 8px 6px rgba(0,0,0,0.1);
  width: 100%; /* Adjust based on parent container or specific needs */
}

.cardIcon {
  flex: 0 0 33.333%; /* Takes up 1/3 of the card */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; /* Shows a pointer cursor if the icon is clickable */
}

.cardText {
  flex: 0 0 66.666%; /* Takes up 2/3 of the card */
  padding: 0 30px;
  color: #18313a;
  flex-grow: 1;
}

.headerCard {
  display: flex;
  flex-direction: column;
  background-color: #ffffff; /* Equivalent to RGB(255, 252, 233) */
  border-radius: 20px;
  box-shadow: 12px 8px 6px rgba(0,0,0,0.1);
  margin: 10px 0px 10px 0px;
  width: 100%;
  overflow-y: auto;
  max-height: 100%;
}

.headerCardHeader {
  padding: 10px 30px;
  border-radius: 20px 20px 0px 0px;
  background-color: #f8fdff; /* Soft baby blue */
  color: #0d1d23;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 2px solid #5f92a4; /* Dark blue line */
  text-align: left;
}

.headerCardContent {
  overflow-y: auto; /* Enable vertical scrolling */
  max-height: 70vh; /* Set maximum height to 70% of the viewport height */
}

.headerRow {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.headerRowIcon {
  width: 20px; /* Fixed width for icon */
  margin-right: 20px; /* Space between icon and text */
}

.headerRowText {
  flex-grow: 1;
  font-weight: bold;
  font-size: 16px;
  color: #18313a;
}

.btn-outline:hover {
  background-color: #00787D;
  border-color: #00787D;
}

.header-image {
  background-image: url(/src/images/appartment-photo-day.jpg);
  background-size: cover;
  background-position: 50% 80%;
}

@media ( prefers-color-scheme: dark ) {
  .header-image {
    background-image: url(/src/images/appartment-photo-night.jpg);
    background-position: 50% 60%;
  }
}

/* Custom styles to adjust the spin button positioning */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  position: relative;
  left: -0.8rem;
}