@tailwind base;
@tailwind components;
@tailwind utilities;

/* CUSTOMER PORTAL*/

.customerPortal {
    background-color: #CAF0F8; /* Soft baby blue background */
    min-height: 100vh; /* Ensures it takes at least the full height of the viewport */
    min-width: 100%; /* Ensures it takes the full width of the viewport */
    width: 100vw; /* Ensures the div uses the total available width */
    height: auto; /* Responsive height based on content */
    display: flex; /* Flexbox for layout */
    flex-direction: row; /* Stack children horizontally */
    justify-content: space-between; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    box-sizing: border-box; /* Include padding and border in the width and height */
  }
  
  /* Ensure responsiveness on smaller devices like cell phones */
  @media (max-width: 480px) {
    .customerPortal {
      min-width: 320px; /* Minimum width no smaller than typical cell phone width */
    }
  }

  .leftBackgroundShadowBox {
    width: 30%; /* Sets width to one fifth of the parent container */
    height: 96vh;
    margin: 10px 10px 10px 0; /* 20px margin for top, right, and bottom, none on the left */
    background: linear-gradient(to bottom right, #FFFACD 0%, #89B29C 100%); /* Soft yellow to soft sage green gradient */
    border-top-right-radius: 40px; /* Large rounded corner on the top right */
    border-bottom-right-radius: 40px; /* Large rounded corner on the bottom right */
    display: flex; /* Flexbox for layout */
    flex-direction: column; /* Stack children vertically */
    align-items: center;
    box-sizing: border-box; /* Include padding and border in the width and height */
    padding: 20px; /* Padding inside the box */
  }
  
  @media (max-width: 768px) {
    .leftBackgroundShadowBox {
      width: 100%; /* Full width on smaller screens */
    }
  }

  .middleBackgroundShadowBox {
    width: 36%; /* Sets width to one fifth of the parent container */
    height: 96vh;
    margin: 10px 0px 10px 0px; /* 20px margin for top, right, and bottom, none on the left */
    background: linear-gradient(to bottom right, #B6CDA5 0%, #89B29C 100%); /* Soft yellow to soft sage green gradient */
    border-radius: 40px; /* Large rounded corner on the top right */
    display: flex; /* Flexbox for layout */
    flex-direction: column; /* Stack children vertically */
    flex-grow: 1;
    box-sizing: border-box; /* Include padding and border in the width and height */
    padding: 20px; /* Padding inside the box */
  }
  
  @media (max-width: 768px) {
    .middleBackgroundShadowBox {
      width: 100%; /* Full width on smaller screens */
    }
  }

  .rightBackgroundShadowBox {
    width: 30%; /* Sets width to one fifth of the parent container */
    height: 96vh;
    margin: 10px 0px 10px 10px; /* 20px margin for top, right, and bottom, none on the left */
    background: linear-gradient(to bottom right, #8EB48F 0%, #89B29C 100%); /* Soft yellow to soft sage green gradient */
    border-top-left-radius: 40px; /* Large rounded corner on the top right */
    border-bottom-left-radius: 40px; /* Large rounded corner on the bottom right */
    display: flex; /* Flexbox for layout */
    flex-direction: column; /* Stack children vertically */
    box-sizing: border-box; /* Include padding and border in the width and height */
    padding: 20px; /* Padding inside the box */
  }
  
  @media (max-width: 768px) {
    .rightBackgroundShadowBox {
      width: 100%; /* Full width on smaller screens */
    }
  }

  /* UI ELEMENTS*/

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's above other content */
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    z-index: 1001; /* Above the overlay */
}

/* images/portraits */
.portraitContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 200px; /* Maximum size */
    max-width: 200px; /* Maximum size */
    overflow: hidden;
  }
  
  .circularPortraitFrame {
    border: 10px solid white; /* Change the color as needed */
    height: 100%; /* Fills the height of the container */
    width: 100%; /* Fills the width of the container */
    border-radius: 50%; /* Creates a circular shape */
    object-fit: cover; /* Ensures the image within the frame does not get distorted */
    box-shadow: inset 0px -8px 15px -10px rgba(0, 0, 0, 0.2);
  }

  /* CARDS*/
  .simpleCard {
    display: flex;
    align-items: center;
    align-content: center;
    padding: 10px 30px;
    margin: 10px 0px 10px 0px;
    background-color: #fffffc; /* Equivalent to RGB(255, 252, 233) */
    border-radius: 20px;
    box-shadow: 12px 8px 6px rgba(0,0,0,0.1);
    width: 100%; /* Adjust based on parent container or specific needs */
  }
  
  .cardIcon {
    flex: 0 0 33.333%; /* Takes up 1/3 of the card */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; /* Shows a pointer cursor if the icon is clickable */
  }
  
  .cardText {
    flex: 0 0 66.666%; /* Takes up 2/3 of the card */
    padding: 0 30px;
    color: #18313a;
    flex-grow: 1;
  }

  .headerCard {
    display: flex;
    flex-direction: column;
    background-color: #ffffff; /* Equivalent to RGB(255, 252, 233) */
    border-radius: 20px;
    box-shadow: 12px 8px 6px rgba(0,0,0,0.1);
    margin: 10px 0px 10px 0px;
    width: 100%;
  }

  .headerCardHeader {
    padding: 10px 30px;
    border-radius: 20px 20px 0px 0px;
    background-color: #f8fdff; /* Soft baby blue */
    color: #0d1d23;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 2px solid #5f92a4; /* Dark blue line */
    text-align: left;
  }

  .headerRow {
    display: flex;
    align-items: center;
    padding: 10px 20px;
  }
  
  .headerRowIcon {
    width: 20px; /* Fixed width for icon */
    margin-right: 20px; /* Space between icon and text */
  }
  
  .headerRowText {
    flex-grow: 1;
    font-weight: bold;
    font-size: 16px;
    color: #18313a;
  }
  